## 1.Opening a csv file from Local System
#### csv= comma separated values
#### tsv= tab separated values

In [9]:
import pandas as pd
df= pd.read_csv('friends.csv')
df

   Unnamed: 0    name  marks       city
0           0  vatsal     92      surat
1           1   rohan     50     rampur
2           2     sid     43   vadodara
3           3  subham     24  ahamdabad

# 2. Opening a csv file from an URL

In [12]:
import requests
from io import StringIO

url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv" #url of data set
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

pd.read_csv(data)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

# 3. Sep parameter (separated by )

In [1]:
# pd.read_csv('movie_titles_metadata.tsv',sep='\t')
pd.read_csv('movie_titles_metadata.tsv',sep='\t',names=['sno','name','release_year','rating','votes','genres'])
#if you dont have column name then you can write by name list

# 5. Index_col parameter

In [2]:
pd.read_csv('aug_train.csv',index_col='enrollee_id') 
#default pandas index column replaced by enrollee_id

# 6. Header parameter

In [3]:
pd.read_csv('test.csv',header=1) #when header is shown as values

# 7. use_cols parameter

In [ ]:
#when you want to import only spacific columns
pd.read_csv('aug_train.csv',usecols=['enrollee_id','gender','education_level'])

# 8. Squeeze parameters

In [ ]:
# import only one column as series from dataset
pd.read_csv('aug_train.csv',usecols=['gender'],squeeze=True)

# 9. Skip rows/nrows Parameter

In [ ]:
#to skip rows or columns
pd.read_csv('aug_train.csv',nrows=100)

# 10. Encoding parameter

In [ ]:
# when encoding of text is differant then you have to give encoding of that text
pd.read_csv('zomato.csv',encoding='latin-1')

# 11. Skip bad lines

In [ ]:
# sometimes row contain more values then colun so error_bad_lines removes theose rows 
pd.read_csv('BX-Books.csv', sep=';', encoding="latin-1",error_bad_lines=False)

# 12. dtypes parameter

In [7]:
#when you want to convert to integer
pd.read_csv('aug_train.csv',dtype={'target':int}).info()

# 13. Handling Dates

In [ ]:
#date is by default in string so if you want to use date time functionality of date then tou have to convert into datatime64[ns]
pd.read_csv('IPL Matches 2008-2020.csv',parse_dates=['date']).info()
#can also merge 3 differant column of day month and year to dd-mm-yy (show documentation)

# 14. Convertors

In [ ]:
def rename(name):
    if name == "Royal Challengers Bangalore":
        return "RCB"
    else:
        return name
    
rename("Royal Challengers Bangalore")

In [ ]:
pd.read_csv('IPL Matches 2008-2020.csv',converters={'team1':rename})
#transformation applied of team1 column

# 15. na_values parameter

In [ ]:
# convert value to NA values
pd.read_csv('aug_train.csv',na_values=['Male'])

# 16. Loading a huge dataset in chunks

In [9]:
# sometime dataset is very large and cannt load whole dataset in machine so we 
#can convert in to batches and by using loop we can work on that
dfs = pd.read_csv('aug_train.csv',chunksize=5000)

In [10]:
for chunks in dfs:
    print(chunks.shape)

(5000, 14)
(5000, 14)
(5000, 14)
(4158, 14)